@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  body #root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  overflow-x: hidden; 
}

header {
  position: fixed;
  width: 100%;
  height: auto;
  height: auto;
  box-shadow: 0px 1px 6px #333;
  background-color: rgba(19, 184, 255, 0.9);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center; }
  header #container {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    header #container #titleContainer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between; }
      header #container #titleContainer #divImgHead {
        width: 25rem;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center; }
        header #container #titleContainer #divImgHead img {
          width: 100%;
          height: auto; }
      header #container #titleContainer #redesSociales {
        display: flex;
        justify-content: center;
        align-items: center; }
        header #container #titleContainer #redesSociales a {
          padding: 0.5rem; }
          header #container #titleContainer #redesSociales a img {
            background-color: transparent; }
    header #container #linksContainer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header #container #linksContainer a {
        min-width: 25%;
        min-height: 2.5rem;
        padding: 0.2rem;
        color: white;
        text-decoration: none;
        border-bottom: 0.2rem solid transparent;
        display: flex;
        justify-content: center;
        align-items: center; }
        header #container #linksContainer a:hover {
          transition: ease-in-out .2s;
          border-bottom: 0.2rem solid white; }

@media (max-width: 1024px) {
  header {
    background-color: black;
    display: flex; }
    header #container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      header #container #titleContainer #divImgHead {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center; }
        header #container #titleContainer #divImgHead img {
          width: 10rem;
          height: auto; }
      header #container #titleContainer #redesSociales {
        display: none; } }
@media (max-width: 390px) {
  header {
    position: fixed;
    background-color: black;
    display: flex; }
    header #container {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      header #container #titleContainer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between; }
        header #container #titleContainer #divImgHead {
          width: 100%;
          height: auto;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center; }
          header #container #titleContainer #divImgHead img {
            width: 10rem;
            height: auto; }
          header #container #titleContainer #divImgHead::after {
            content: url("../assets/icons/lista.png");
            padding: 0.1rem 0.2rem 0.1rem 0.2rem;
            margin: auto 0.3rem;
            border-radius: 0.5rem;
            background-color: white; }
        header #container #titleContainer #redesSociales {
          display: none; }
      header #container #linksContainer {
        position: absolute;
        width: 100%;
        height: auto;
        top: -10rem;
        background-color: #333;
        display: flex;
        flex-direction: column; }
        header #container #linksContainer a {
          min-width: 25%;
          min-height: 2.5rem;
          padding: 0.2rem;
          color: white;
          text-decoration: none;
          border-bottom: 0.2rem solid transparent;
          display: flex;
          justify-content: center;
          align-items: center; }
          header #container #linksContainer a:hover {
            transition: ease-in-out .2s;
            border-bottom: 0.2rem solid white; } }
#id-buscador {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  #id-buscador #i_search {
    width: 50%;
    height: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem; }
  #id-buscador select, #id-buscador button {
    width: 25%;
    height: 2rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.5rem; }

main {
  width: 80%;
  min-height: 90%;
  margin-top: 8%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; }
  main #cover {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  main .content {
    width: 30%;
    height: auto;
    margin: 5rem 1.5rem 1.5rem 1rem;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 1px 2px 6px #333;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start; }
    main .content .div_img_libro {
      width: 100%;
      height: auto;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
      main .content .div_img_libro img {
        width: 100%;
        height: auto; }
    main .content .descripcion {
        
        width: 100%;
        min-height: 6rem;
        padding: 0.5em;
        overflow: auto;
        font-size: 14px;
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
        cursor:cell;
      
    } 
    main .content .descripcion::-webkit-scrollbar {
      width: 12px;              
    }
    
    main .content .descripcion::-webkit-scrollbar-track {
      background: rgb(255, 255, 255);       
    }
    
    main .content .descripcion::-webkit-scrollbar-thumb {
      background-color: rgb(181, 181, 181);  
      border-radius: 20px;       
      border: 3px solid rgb(181, 181, 181); 
    }
    main .content h2 {
      width: 100%;
      height: auto;
      text-align: center;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none; }

      
    main .content p {
      width: 100%;
      height: auto;
      padding: 1rem;
      line-height: 0.5rem; }
  main #divAcercaDe {
    text-align: center;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column; }
    main #divAcercaDe #divImagenDGPC {
      width: 100%;
      height: auto;
      min-height: 1rem;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      align-items: flex-start; }
    main #divAcercaDe p {
      width: 70%;
      height: auto;}
  main #divContentCarrousel {
    width: 100%;
    height: 100%;
    padding: 2rem; }
    main #divContentCarrousel #divCarrousel {
      width: 100%;
      min-height: 22rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: column; }
      main #divContentCarrousel #divCarrousel #divImagen {
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center; }
        main #divContentCarrousel #divCarrousel #divImagen img {
          width: 100%;
          height: 50%;
          margin-bottom: 0.5rem
        }
    main #divContentCarrousel #divButton {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      main #divContentCarrousel #divButton button {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
        color: white;
        border: 0rem;
        border-radius: 0.5rem;
        box-shadow: 0.1rem 0.2rem 0.5rem #000;
        background-color: #13b8ff; }

      main #divContentCarrousel p {
        color: #111111;
        height: auto;}

/*Incicio de Carrusel*/
.slider-container {
  scroll-snap-type: x mandatory; }

.slider-container img {
  scroll-snap-align: center; }

.slider-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll; }

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover; }

.slider-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; }

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center; }

/*Fin de Carrusel*/

