header{
    position: fixed;
    width: 100%;
    height: auto;
    height: auto;
    box-shadow: 0px 1px 6px #333;
    background-color: rgba(19, 184, 255, 0.9);//#13b8ff;
    backdrop-filter: blur(10px);

    display: flex;
    justify-content:center;
    align-items: center;
    #container{
        width: 80%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        #titleContainer{
            width: 100%;
            height: auto;

            display: flex;
            justify-content: space-between;
            #divImgHead{
                width: 25rem;
                height: auto;
                
                display: flex;
                justify-content: center;
                align-items: center; 
                img{
                    width: 100%;
                    height: auto;
                }
            }

            #redesSociales{
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    padding: 0.5rem;
                    img{
                        background-color: transparent;
                    }
                }
            }
        }
        #linksContainer{
            width: 100%;
            height: auto;

            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                min-width: 25%;
                min-height: 2.5rem;
                padding: 0.2rem;
                color: white;
                text-decoration: none;                
                border-bottom: 0.2rem solid transparent;
                
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    transition: ease-in-out .2s;
                    border-bottom: 0.2rem solid white;
                }
            }
        }
    }
}
@media (max-width: 1024px){
    header{
        background-color: black;

        display: flex;
        #container{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            #titleContainer{
                #divImgHead{
                    width: 100%;
                    height: auto;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    img{
                        width: 10rem;
                        height: auto;
                    }
                }
    
                #redesSociales{
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 390px) {
    header{
        position: fixed;
        background-color: black;

        display: flex;
        #container{
            position: relative;                

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            #titleContainer{
                width: 100%;
                height: auto;

                display: flex;
                justify-content: space-between;
                #divImgHead{
                    width: 100%;
                    height: auto;
                    padding: 1rem;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    img{
                        width: 10rem;
                        height: auto;
                    }
                    &::after {
                        content: url("../assets/icons/lista.png");
                        padding: 0.1rem 0.2rem 0.1rem 0.2rem;
                        margin: auto 0.3rem;
                        border-radius: 0.5rem;
                        background-color: white;
                    }
                
                }
                #redesSociales{
                    display: none;
                }
            }
            #linksContainer{
                position: absolute;
                width: 100%;
                height: auto;
                top: -10rem;
                background-color: #333;
    
                display: flex;
                flex-direction: column;
                a{
                    min-width: 25%;
                    min-height: 2.5rem;
                    padding: 0.2rem;
                    color: white;
                    text-decoration: none;                
                    border-bottom: 0.2rem solid transparent;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        transition: ease-in-out .2s;
                        border-bottom: 0.2rem solid white;
                    }
                }
            }
        }
    }
}