*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
$color:#13b8ff;
body{
    width: 99.2vw;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    #root{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
}